{
  "debug": false,
  "jira": {
    "host": "",
    "username": "",
    "password": ""
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "slack": {
    "logging": false,
    "token": ""
  },
  "zendesk": {
    "username": "",
    "token": "",
    "url": "https://subdomain.zendesk.com"
  }
}
